@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<h1>Burası Şehir Paneli</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Şehir Adı</th>
            <th>Ülke</th>
            <th>Nüfus</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>İstanbul</td>
            <td>Türkiye</td>
            <td>15,000,000</td>
        </tr>
        <tr>
            <td>New York</td>
            <td>USA</td>
            <td>8,500,000</td>
        </tr>
        <tr>
            <td>Tokyo</td>
            <td>Japan</td>
            <td>14,000,000</td>
        </tr>
    </tbody>
</table>
<a href="/Default/Urunler" class="btn btn-info">Ürünlere git</a>

<br />
