@using OOP_MY.Entities
@model List<Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_OopLayout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<h1>Ürün Sayfası</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Stok</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Price.ToString("C")</td>
            <td>@product.Stock</td>
            <td><a href="/Product/DeleteProduct/@product.Id">Sil</a></td>
            <td><a href="/Product/UpdateProduct/@product.Id">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Product/AddProduct/" class="btn btn-primary">Yeni Ürün Girişi</a>